.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  background: #1C1C21;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px
}